.card__container {
    position: relative;
    width: 450px;
    height: 600px;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 20px;
}

.card__image {
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s;
}

.card__image:hover {
    transform: scale(1.1);
}
